controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/autobrr/autobrr
          tag: v1.73.0
          digest: sha256:6b0e57048087e5b7b626b0f02d39e91c8287d32691c26c709b3957227df12f7c
        env:
          AUTOBRR__HOST: "0.0.0.0"
          AUTOBRR__PORT: "7474"
          AUTOBRR__CHECK_FOR_UPDATES: "false"
          # OIDC with Authentik
          AUTOBRR__OIDC_ENABLED: "true"
          AUTOBRR__OIDC_ISSUER: "https://auth.starktastic.net/application/o/autobrr/" # source: globals.yaml → global.domains.public
          AUTOBRR__OIDC_REDIRECT_URL: "https://autobrr.internal.starktastic.net/api/auth/oidc/callback" # source: globals.yaml → global.domains.internal
          AUTOBRR__OIDC_DISABLE_BUILT_IN_LOGIN: "false"
        envFrom:
          - secretRef:
              name: autobrr-secret
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /api/healthz/liveness
            port: 7474
          readiness:
            enabled: true
            type: HTTP
            path: /api/healthz/readiness
            port: 7474
          startup:
            enabled: true
            type: HTTP
            path: /api/healthz/liveness
            port: 7474
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  main:
    controller: main
    ports:
      http:
        port: 7474
