---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argocd-notifications-secret
  namespace: argocd
spec:
  encryptedData:
    ntfy-header: AgB3SD99Av+H1RTORBSze7HVL4z8Vxyv/6LpWBjS2H2JfAUSYoZcmMki5vrnOvhXTAQrliqghAhYKu8JIJgL13sN80CtZFzN/QS/UBfONlXuhAl0iVGWordmRdCRRZ7MKWOoNUh+bcJioIde2WZ2l6gSB8q2oBdfkbfajoWaeAFozMEA1oCvDRtC3sg0qCh2odTxU1gvbYoOJR4SmqMjlpxYWw5ADupFMxs1mJR/lhNgSCaAeDgpdCQFe9lIostEx8mSYk0o84WANh0p357r6uMQiCrgu7v7SwZffokspEDhNPFndXFRGOXJnaJgp9CfD4eiHX1XCxh5kj0Id681xD9hBUKxT7i6dKNuvhiFNpDwOjJwGMbDcYTMh9s8AH1r0H8l04TwglWSUIVvh2CuBQCny75XoSM41yPGGhPbcfOScBcV38Nu5+SN2L+oRw0BPq04aUxF1/z4WWDsyj2J/lECyQS+zIQdowFv5kSKChLm2ttdltRkCJQFVnOAo3DVm68l9OcLbeeVWEor9d9w03zIbQH1EcMdUGnQ2DQB5F2p6s5uonSktT+f8q3697a2W0GZq4mWiJ7C7zT3rSthbdPc4kDZmIDu6uFPwOE1M9zSUxp1Iv7UclgFudXSBPTsoFR2z7bOlDPxrZ+uUedW1a6JLIo6CwAShNEtBZCt+WI73kszEMbV0EDmYjqwfSTWEahmr+oyvCDaXg6huaWmVJqVQqyr+EKCnybsFEE1JSfZP0wq
  template:
    metadata:
      name: argocd-notifications-secret
      namespace: argocd
