---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argocd-notifications-secret
  namespace: argocd
spec:
  encryptedData:
    ntfy-header: AgANfRpjZasykw2xmnRvFZPRosODWGycCtLlU6xNBTS4RAhofyN7WVKOdHMluLkzuGXhY1tZHrlgMwGF/v5fJedynboI7Ipfr2aWUqTWE/KP73cdfgCy2ZYxIHh10lci80lCBoVE0X40eEbH0C+ni/vBJUhobBH8kPRFYTwnCmZowZFWZpetfZF5mx8cXUt3HomdWeBQxAI9ZDAgH+sG4GASmwHH1g6zFyaD+Be9MhCx382TnGsqRNTEnK13IKZ5xLme3iDwhRTmtyHPeTUQww1/7TlXt+XVOINoNgewxjWaQ0GoRTo+vXjq+YlCGmk6WJFko6VNAWdiIHtQ905Lv/2EhLEAtV1mS0M68jVuZH8HPq3FHT1zLKBMzoLNiYYLltFpFXn9caHQm4ftzmCdqXFjjqSGeMCKzo/NfMDt9lXWQDgZU9xKVbNHFh5bERFhQIORew1s+edx3RXY9vECGaukmra7wvkXb5o97tOHfWrRBFhdweRjGi1Vjk/mv4fWtQbP/Q3uAIe99JeqDd3kJNljb1jmSAwLZtVQjkT1NpmAe6DhN3Q0mFZxozaL0bziKP5ozvgcGQA9UllRQUL53vnELdHqpcZwlL2896TMPOP0efqUmWj/bQykA7DSv7jeEo4sNCrBW3KwsccHX3+HMaognZxnnRG+GkPXGK6bJnerxKOMUgar8jIeGiGPUKs97g2uw84QhCwS8+VGSfWSAoq3DW7IyPb9dYcTwKWw8fhnjZ01
  template:
    metadata:
      name: argocd-notifications-secret
      namespace: argocd
      labels:
        app.kubernetes.io/component: notifications-controller
        app.kubernetes.io/name: argocd-notifications-controller
        app.kubernetes.io/part-of: argocd
