---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argocd-notifications-secret
  namespace: argocd
spec:
  encryptedData:
    ntfy-header: AgAan1s3NpzoFDJDQb1GxwW7ljD6eGmVh8N9+wK8rZghoeWUixwQn65R/ZUZZaOIaW2r702RJDq9HGHUDDoHePaSOqQqRviuRsQcoCI4sb0mSni63iw5BB7aBCXOFqNM1s+UsWG17XUiL4dh0Waf9hGJoF0fjRw6yBjlp2VVHLC4Y0aiO3pn2P0MD0IXqp6JAJ1n7aMOYLRNgTR0s2VClGR6QcbSvZKrRF99yn8OjLaAwvE2oBkv742wpBWZpldiD1OCLDgPrr5mg6YUjyIqw/MRR7S1jPYfUh3W8oEhSLWhaR/ivQs2pBPnt8LlZl2zDXEik8r/etG57G2wFmju+kE+iQOuJSbeeYptn+8KUCWhwly8tu8BwMrRsb72sT8ODxEtV05uOpdY2dlJ+9w2UTKc2rdESAc5bsmd9h1prj6ERfNHHsEZoFWuRCBxHGrp4fkFDF3hpeLd2P4vuB5i7HabE8XoDI2hi7x4jJpIWJ/TtML4DjuX5EKLxjBms32GnC1EMEbOwYUKvYmOXOKAynFH7ppiU4ugFC5mvZ5OQUXY1TdBs5nN/eyjfdhHS01SOxnVEdGAGN6eAh3kh7B0/AxcmkcUornkQWVBmRvoQu+JA0hG8xuwXG+ipGlFLbgvcDi27pgbzZAAaq9N48trl+ijIeLZwyAZ9o8wsoEwKR1VP2ZSHQXSrbTYah4BAlJDUMAXNEUwGaRyCl8znYgfmvk/TrI0dYgg89UMN/1+smOE5ZPD
  template:
    metadata:
      name: argocd-notifications-secret
      namespace: argocd
      labels:
        app.kubernetes.io/component: notifications-controller
        app.kubernetes.io/name: argocd-notifications-controller
        app.kubernetes.io/part-of: argocd
