---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argocd-notifications-secret
  namespace: argocd
spec:
  encryptedData:
    ntfy-header: AgAqGNBTIzVp0LC+V6HsC/ts/T4FVK11oWXOwuE/ivB/iS5GijJOkYI+R91EMW/707+CaE7KyuBhvPPLXlDZvdpAlME5QdDg90hcEuFQgbFUm72ToESKhfrvXnexazWFEVA02gNtMoY0v3hUiEwMfTseiZviJew/LU3/cI9lfjkArKCdv4UA6MhFPhNZT9VV9DQFaDuEqDhyeuQ4IeNHGq/CcTuP4kPhTmcxZFyd2iv9+0lnyXML7u+uek0qBf5htefAIze/TDhw+LR9u/X/rhnClkfj3wVCgsXtjbFxuKNxZfou4Un+An4h9Qy1/lcP8CExet82/sgRDQ6N7U3XfGR7mpKvftHLorE4wwLn7nkPY5n7BVcSPM23WAJTrURCSWEjTaS6cNjEnYwvjGXcYTIEm9FsG41sYcO4ZTUfAcZrFMA2A++/E8QjNUEzqT4HVFFSJlU6KOwA/CpYzxI+Yix2QEoMarN8ip+gTzTfJZTlXAIWzPGwaQueXcdcCF4KbBYujhV0eTPd1hJO2m8ucI8ksmu5rgeQ7NzrauS6BoCamuPHPJrQzxu3hgShrb3JboZ/Y1YJQ/eCeXsrT0fsdWwsWxm8IXRzOMd7bP+dtOF+XXJuCzhYSco4PuhYWlrqv/W9w3KnIVYkUQGMKiHR9bQ8QfgrtCa157jGrfD7pz1atVwDkLEYacdhCNhl/Mkq4Vexo/Mhatz5ahTm1PcuYsDWi2RCOJ1ere9R68jsMilLMTRd
  template:
    metadata:
      name: argocd-notifications-secret
      namespace: argocd
