apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-notifications-cm
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
data:
  service.webhook.ntfy: |
    url: http://debug-listener.argocd.svc.cluster.local
    headers:
      - name: Authorization
        value: $ntfy-secret:header
      - name: Content-Type
        value: application/json

  template.app-sync-failed: |
    webhook:
      ntfy:
        method: POST
        body: |
          {
            "topic": "starktastic_ops",
            "title": "Sync Failed: {{.app.metadata.name}}",
            "message": "Reason: {{.app.status.operationState.message}}",
            "tags": ["skull", "error"],
            "priority": 5,
            "actions": [{
              "action": "view",
              "label": "Open ArgoCD",
              "url": "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}"
            }]
          }

  template.app-sync-succeeded: |
    webhook:
      ntfy:
        method: POST
        body: |
          {
            "topic": "starktastic_ops",
            "title": "Sync Succeeded: {{.app.metadata.name}}",
            "message": "Configuration successfully applied.",
            "tags": ["white_check_mark"],
            "priority": 3,
            "actions": [{
              "action": "view",
              "label": "Open ArgoCD",
              "url": "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}"
            }]
          }

  trigger.on-sync-failed: |
    - description: Application syncing has failed
      send: [app-sync-failed]
      when: app.status.operationState.phase in ['Error', 'Failed']

  trigger.on-sync-succeeded: |
    - description: Application syncing succeeded
      send: [app-sync-succeeded]
      when: app.status.operationState.phase in ['Succeeded']
