apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-notifications-cm
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
data:
  service.webhook.ntfy: |
    url: https://ntfy.starktastic.net/starktastic_ops
    headers:
      - name: Authorization
        value: Basic $ntfy-credentials

  template.app-sync-failed: |
    message: |
      {{.app.metadata.name}} failed syncing.
      Reason: {{.app.status.operationState.message}}
    ntfy:
      priority: 5
      tags: error,skull
      click: {{.context.argocdUrl}}/applications/{{.app.metadata.name}}

  template.app-sync-succeeded: |
    message: Application {{.app.metadata.name}} synced successfully.
    ntfy:
      priority: 3
      tags: white_check_mark
      click: {{.context.argocdUrl}}/applications/{{.app.metadata.name}}

  trigger.on-sync-failed: |
    - description: Application syncing has failed
      send: [app-sync-failed]
      when: app.status.operationState.phase in ['Error', 'Failed']

  trigger.on-sync-succeeded: |
    - description: Application syncing succeeded
      send: [app-sync-succeeded]
      when: app.status.operationState.phase in ['Succeeded']
