---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  name: ntfy-secret
  namespace: argocd
spec:
  encryptedData:
    ntfy-credentials: AgChczWAKiNlcpToy3dxbdPkpfnhSTq+OKnGRW0BSYnFsI0y+Mjhbz1zwCkKXyGgGiJctEYZ96gBDTR2pkE2sWIrCYRkgaoQ1rDz4O0dAIHtYMYkLoqKss+NuMwSR/Bt23iqX2B1RDJ+XE4/sRrNpRWLucp+RgRKnrK38HHBRv6mFtqVheZWVbWMFnyvdadQ3BePYagoLloZ1lxlUy6mN7ljCQPIgy5dRbqrCvSrMViGnlFBZNKZlTmfLCMC2hTmx+Eg/5rR5zZ6MKf0M24aYksoMtd3RKLWdNKcFRFqOTABVSCI3NLDgeHLunrznqr5kgfKy0jOPhL9jiI519OtQEk4AaW6F0Z3tq8+L47MvDZpOkCwKFyvm98sR71k6SDM9ucBbfpKYvkgNG3EtCYjOBL94hp/ikf7/41pXZL3lNLzqm7R/6kvjnufJgsOgcfUIhSO7X+wD53Q5eouKqDqixMpaasBW4IqOMIsJeHKtWL4KDxVbJzS6+6hCeaFsgk+hntySUtAfCt+7+y48ynLXJ0yt1p0uYDHKzO1YeWmHVAqPvXFVU8Y5ZL3CqCqGPxRTlUisc/ewsOxmQ4M9bNu8gH5SZ02JdAIOY2JPGfXj1iYfjYW/JjQE/bBLGD6svQJiVSA2JK6JLTwk0AyB5Bb1t3wk8kWTIC39gjqWLuYwYm/AswOVyBNNJ8wi4QwxOGuMWYBvrGxyFdYqrXmZP4ziFAuUIApeiMdxp2KqmzT
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      name: ntfy-secret
      namespace: argocd
