controllers:
  main:
    replicas: 0
    containers:
      main:
        image:
          repository: ghcr.io/fallenbagel/jellyseerr
          tag: 2.7.3
          digest: sha256:9cc9e9ee6cd5cf5a23feb45c37742ba34cfd6314d81d259cddb373a97ac92cdd
        env:
          LOG_LEVEL: "info"
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /api/v1/status
            port: 5055
          readiness:
            enabled: true
            type: HTTP
            path: /api/v1/status
            port: 5055
          startup:
            enabled: true
            type: HTTP
            path: /api/v1/status
            port: 5055

service:
  main:
    controller: main
    ports:
      http:
        port: 5055

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: "nfs-pv"
    size: 1Gi
    accessMode: ReadWriteMany
    globalMounts:
      - path: /app/config
