apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cert-backup
  namespace: cert-backup
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-pv
  resources:
    requests:
      storage: 1Mi
