---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin-secret
  namespace: monitoring
spec:
  encryptedData:
    admin-password: AgCcOAo3L0o5nE2hmqG1aLiu0No9AfJ72Zh47bZ2dV1nuvE+7nPkSVkNb2py/tMPhEGyjqDjGoH+LBsU1fruY14R2XZAEKGBDiVg0wrxjvmRUVm88+nXvpkudzZSTfwxLYxhcdT0jirXkGpcTXDG78qJESTT3/arJ38r3/0oI0tdgBga71JBD31A3ltR58QNfZ0RAiafQvVwoXYq1mOZ9pUat8CKcEueSn+PDVV/adVEdTTey4BHYB6RGLcHqwGJxxW5VTZSarC5nTWr0Op0k+1P/EztppjTmBrnF0YAQE3A4s1GJNyy1/BLHDTcCouqyJnKgkAmily30pJflJM+6ONHuPgu8p0cifsVvGohkcOU/oqTbVbsoOh0bL64+DawWNppYzM0P9PwxmQwljFZ0iLAHd/1b/uOsFRpTgtjydZMlURkVTXgSmFDPy3hYppuMDswuDBzo3gPFZEGOqJ4b+S6m4hEz7Sb/xazoUeezSvHjb4OjckOxVDsjI8JXox7evOeT5CELTpb9JOGSGpaWLi6wvjVre+dD393urao2uIocPOrXIA9o/PqXV1adyiQFpK0DBXVYf2a9YMbkJVBouSncSTbAmbXqey2f0TVQle3S9KjQ4TEOAT6mCNivdvO9y73v7Dixbwjwwf8eenIsMJ9e8lEXZNPLjQ93uAfbPVBflhJ+o9fu3MU5FiwGvIWi0IO5Pb5+Kj9zzGC8ohnYMHY9B5MZz8rNIx+KIavp4kL9A==
    admin-user: AgByCUseUQihiU4RhEkcLCNoJZ0PHB2mTDMeJgn78SqwM3BAClTYE3Te8rM78K/cQwt2fcQ67+5YyPPmd3LmPCWZS4LAfWnIvQCifOj4ifqdIYjfscHa2VeCjSNoGjTI6Lr5y094w9Sg6Q699qVz/WFJh6fWVkM3yMQQgRZvzbmIuY+HLkRrU9nXYLvrUe4j7tEfDkvmYmQ4Lmr+QgGqaDeyDqb+qP8tSxJa02G67bZ8alT3UxZthH9pPeouFomaNyAtDU0mNnxAkpuxHD4pJ44yrIXUnqYruvJzMx4rXIZGHLLP6zJ2tlyCQhJ/2133YtKDoJo+XPcJg5hFuIwUj2mSYE4BOEAdXgg2qq3mRzPrQujnfCfLMcDtNSdFrbRFn771esStqBWf+b+UNcKP1YGmcPLlDqkvIXhPWkrVwUDCCszT7yQ+YsQstR2bULs2Q6zZbvyADFPWD8LZTHQfHYLfBRDI0n4ILIkOLO+0xg1MuWPy5ipSaZAeuCTVkUTE+LMF/Vaf0Md33ij4AdT9PpvbdeHuJVNLnZudaBa98ViRWd9j69i4+ikXclqRCYabo3UnfDIN/mvo36cD5Mjayv/cxSLKfJiITnB02WzgILp+xpBChcqfdcby6JnvFpCrdDxLAgR6T6R3/dGPEx1tWwPgoJbYMa5EUyyf0GrxCqzNixqZdPgExUq3AeY8NXehUb+ss11Oqg==
  template:
    metadata:
      name: grafana-admin-secret
      namespace: monitoring
