controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/lingarr-translate/lingarr
          tag: 1.0.7
          digest: sha256:524ec3f9f08b02bcb247c1d529f213a3ded09ea0477404f45330b6d88a8112c5
        env:
          # Translation backend
          SERVICE_TYPE: "gemini"
          GEMINI_MODEL: "gemini-2.0-flash"

          # Database
          DB_CONNECTION: "sqlite"

          # Sonarr / Radarr (EN instances only)
          SONARR_URL: "http://sonarr.media.svc.cluster.local:8989"
          RADARR_URL: "http://radarr.media.svc.cluster.local:7878"

          # Languages
          SOURCE_LANGUAGES: '[{"name":"English","code":"en"}]'
          TARGET_LANGUAGES: '[{"name":"Hebrew","code":"he"},{"name":"Russian","code":"ru"}]'
        envFrom:
          - secretRef:
              name: lingarr-secret
        probes:
          liveness:
            path: /
            port: 8080
          readiness:
            path: /
            port: 8080
          startup:
            path: /
            port: 8080
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  main:
    ports:
      http:
        port: 8080

persistence:
  config:
    enabled: false
  lingarr-config:
    type: persistentVolumeClaim
    storageClass: "nfs-pv"
    size: 1Gi
    accessMode: ReadWriteMany
    globalMounts:
      - path: /app/config
  media:
    enabled: true
