controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/radarr
          tag: latest
          digest: sha256:ba2693dd704b84eb0b404d40b3902bd3e62a1768dc5ee0d89b1f1d7cd51a66eb
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /ping
            port: 7878
          readiness:
            enabled: true
            type: HTTP
            path: /ping
            port: 7878
          startup:
            enabled: true
            type: HTTP
            path: /ping
            port: 7878
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  main:
    controller: main
    ports:
      http:
        port: 7878

persistence:
  media:
    existingClaim: media-library-pvc
    globalMounts:
      - path: /data
