postgresql:
  enabled: false
redis:
  enabled: false
blueprints:
  configMaps:
    - authentik-invitation-blueprint
    - authentik-branding-blueprint
global:
  volumes:
    - name: custom-email-templates
      configMap:
        name: authentik-email-templates
    - name: branding-assets
      configMap:
        name: authentik-branding-assets
  volumeMounts:
    - name: custom-email-templates
      mountPath: /templates/email
    - name: branding-assets
      mountPath: /data/media/public/branding/logo.svg
      subPath: logo.svg
    - name: branding-assets
      mountPath: /data/media/public/branding/background.svg
      subPath: background.svg
    - name: branding-assets
      mountPath: /data/media/public/branding/favicon.svg
      subPath: favicon.svg
authentik:
  log_level: info
  email:
    host: "smtp.eu.mailgun.org"
    port: 587
    username: "postmaster@benplus.app"
    from: "Ben Plus <noreply@benplus.app>"
    use_tls: true
    timeout: 10
  postgresql:
    host: "postgres-postgresql.databases.svc.cluster.local"
    name: "authentik"
    user: "authentik"
    port: 5432
  redis:
    host: "redis-redis.databases.svc.cluster.local"
    port: 6379
  error_reporting:
    enabled: false
  disable_update_check: true
  disable_startup_analytics: true
server:
  env:
    - name: AUTHENTIK_COOKIE_DOMAIN
      value: "starktastic.net"
    - name: AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS
      value: "127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
    - name: AUTHENTIK_WEB__WORKERS
      value: "4"
    - name: AUTHENTIK_RATELIMIT__GLOBAL__PER_IP
      value: "1000/s"
    - name: AUTHENTIK_RATELIMIT__ERROR__PER_IP
      value: "50/s"
    - name: AUTHENTIK_AUTHENTICATION__RATE_LIMIT__LOGIN__LIMIT
      value: "10/m"
    - name: AUTHENTIK_EMAIL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: smtp-authentik-secret
          key: password
  envFrom:
    - secretRef:
        name: authentik-secret
worker:
  env:
    - name: AUTHENTIK_EMAIL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: smtp-authentik-secret
          key: password
  envFrom:
    - secretRef:
        name: authentik-secret
