---
apiVersion: v1
kind: ConfigMap
metadata:
  name: recyclarr-config
  namespace: media
data:
  recyclarr.yml: |
    # yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json

    radarr:
      radarr_main:
        base_url: http://radarr.media.svc.cluster.local:7878
        api_key: !env_var RADARR_API_KEY
        delete_old_custom_formats: true
        replace_existing_custom_formats: true

        media_naming:
          folder: default
          movie:
            rename: true
            standard: standard

        include:
          - template: radarr-quality-definition-movie
          - template: radarr-quality-profile-uhd-bluray-web
          - template: radarr-custom-formats-uhd-bluray-web
          - template: radarr-custom-formats-audio-advanced
          - template: radarr-custom-formats-hdr

        custom_formats:
          # Hybrid / Best Quality
          - trash_ids:
              - 0f12c086e289cf966fa5948eac571f44 # Hybrid
            assign_scores_to:
              - name: Remux + WEB 2160p
                score: 10000

          # DV / HDR10+ Boost
          - trash_ids:
              - b337d6812e06c200ec9a2d3cfa9d20a7 # DV Boost
              - caa37d0df9c348912df1fb1d88f9273a # HDR10+ Boost
            assign_scores_to:
              - name: Remux + WEB 2160p
                score: 5000

          # Lossless Audio Boost
          - trash_ids:
              - 496f355514737f7d83bf7aa4d24f8169 # TrueHD ATMOS
              - 2f22d89048b01681dde8afe203bf2e95 # DTS X
              - 3cafb66171b47f226146a0770576870f # TrueHD
              - dcf3ec6938fa32445f590a4da84256cd # DTS-HD MA
            assign_scores_to:
              - name: Remux + WEB 2160p
                score: 2000

          # SDR Avoidance
          - trash_ids:
              - 9c38ebb7384dada637be8899efa68e6f # SDR
            assign_scores_to:
              - name: Remux + WEB 2160p
                score: -10000

          # BLOCK DV (w/o HDR Fallback)
          - trash_ids:
              - 923b6abef9b17f937fab56cfcf89e1f1 # DV (w/o HDR fallback)
            assign_scores_to:
              - name: Remux + WEB 2160p
                score: -10000

        quality_profiles:
          - name: Remux + WEB 2160p
            upgrade:
              allowed: true
              until_quality: Remux-2160p
              until_score: 100000
            qualities:
              - name: Remux-2160p
              - name: WEB 2160p
                qualities:
                  - WEBDL-2160p
                  - WEBRip-2160p
              - name: Remux-1080p
              - name: Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: Bluray-720p
              - name: WEB 720p
                qualities:
                  - WEBDL-720p
                  - WEBRip-720p
            reset_unmatched_scores:
              enabled: true

      radarr_ru:
        base_url: http://radarr-ru.media.svc.cluster.local:7878
        api_key: !env_var RADARR_RU_API_KEY
        delete_old_custom_formats: true
        replace_existing_custom_formats: true

        media_naming:
          folder: default
          movie:
            rename: true
            standard: standard

        include:
          - template: radarr-quality-definition-movie
          - template: radarr-quality-profile-hd-bluray-web
          - template: radarr-custom-formats-hd-bluray-web

        custom_formats:
          - trash_ids:
              - 923b6abef9b17f937fab56cfcf89e1f1 # DV (w/o HDR fallback)
            assign_scores_to:
              - name: HD Bluray + WEB
                score: -10000

        quality_profiles:
          - name: HD Bluray + WEB
            reset_unmatched_scores:
              enabled: true

    sonarr:
      sonarr_main:
        base_url: http://sonarr.media.svc.cluster.local:8989
        api_key: !env_var SONARR_API_KEY
        delete_old_custom_formats: true
        replace_existing_custom_formats: true

        media_naming:
          series: default
          season: default
          episodes:
            rename: true
            standard: default
            daily: default
            anime: default

        include:
          - template: sonarr-quality-definition-series
          - template: sonarr-v4-quality-profile-web-2160p-alternative
          - template: sonarr-v4-custom-formats-web-2160p
          - template: sonarr-v4-custom-formats-anime
          - template: sonarr-v4-custom-formats-audio-advanced
          - template: sonarr-v4-custom-formats-hdr

        custom_formats:
          # Anime Tier 01 (SeaDex)
          - trash_ids:
              - 949c16fe0a8147f50ba82cc2df9411c9 # Anime BD Tier 01
              - e0014372773c8f0e1bef8824f00c7dc4 # Anime Web Tier 01
            assign_scores_to:
              - name: Anime (Ultimate)
                score: 10000

          # Hybrid / Remaster
          - trash_ids:
              - 3a4127d8aa781b44120d907f2cd62627 # Hybrid
              - b735f09d3c025cbb7d75a5d38325b73b # Remaster
            assign_scores_to:
              - name: WEB-2160p
                score: 5000
              - name: Anime (Ultimate)
                score: 5000

          # Lossless Audio Boost
          - trash_ids:
              - 0d7824bb924701997f874e7ff7d4844a # TrueHD ATMOS
              - 9d00418ba386a083fbf4d58235fc37ef # DTS X
              - 851bd64e04c9374c51102be3dd9ae4cc # FLAC
            assign_scores_to:
              - name: WEB-2160p
                score: 2000
              - name: Anime (Ultimate)
                score: 2000
                
          # BLOCK DV (w/o HDR Fallback)
          - trash_ids:
              - 9b27ab6498ec0f31a3353992e19434ca # DV (w/o HDR fallback)
            assign_scores_to:
              - name: WEB-2160p
                score: -10000
              - name: Anime (Ultimate)
                score: -10000

        quality_profiles:
          - name: WEB-2160p
            upgrade:
              allowed: true
              until_quality: Bluray-2160p Remux
            qualities:
              - name: Bluray-2160p Remux
              - name: WEB 2160p
                qualities:
                  - WEBDL-2160p
                  - WEBRip-2160p
              - name: Bluray-1080p Remux
              - name: Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: HDTV-1080p
              - name: Bluray-720p
              - name: WEB 720p
                qualities:
                  - WEBDL-720p
                  - WEBRip-720p
              - name: HDTV-720p
            reset_unmatched_scores:
              enabled: true

          - name: Anime (Ultimate)
            upgrade:
              allowed: true
              until_quality: Bluray-2160p Remux
            qualities:
              - name: Bluray-2160p Remux
              - name: WEB 2160p
                qualities:
                  - WEBDL-2160p
                  - WEBRip-2160p
              - name: Bluray-1080p
                qualities:
                  - Bluray-1080p Remux
                  - Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
                  - HDTV-1080p
              - name: Bluray-720p
              - name: WEB 720p
                qualities:
                  - WEBDL-720p
                  - WEBRip-720p
                  - HDTV-720p
            reset_unmatched_scores:
              enabled: true

      sonarr_ru:
        base_url: http://sonarr-ru.media.svc.cluster.local:8989
        api_key: !env_var SONARR_RU_API_KEY
        delete_old_custom_formats: true
        replace_existing_custom_formats: true

        media_naming:
          series: default
          season: default
          episodes:
            rename: true
            standard: default
            daily: default
            anime: default

        include:
          - template: sonarr-quality-definition-series
          - template: sonarr-v4-quality-profile-web-1080p
          - template: sonarr-v4-custom-formats-web-1080p

        custom_formats:
          - trash_ids:
              - 9b27ab6498ec0f31a3353992e19434ca # DV (w/o HDR fallback)
            assign_scores_to:
              - name: WEB-1080p
                score: -10000

        quality_profiles:
          - name: WEB-1080p
            reset_unmatched_scores:
              enabled: true
