---
apiVersion: v1
kind: ConfigMap
metadata:
  name: recyclarr-config
  namespace: media
data:
  recyclarr.yml: |
    # yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json

    radarr:
      radarr_main:
        base_url: http://radarr.media.svc.cluster.local:7878
        api_key: !env_var RADARR_API_KEY
        delete_old_custom_formats: true

        media_naming:
          folder: default
          movie:
            rename: true
            standard: standard

        quality_definition:
          type: movie

        custom_formats:
          - trash_ids:
              - 0f12c086e289cf966fa5948eac571f44 # Hybrid
            assign_scores_to:
              - name: UHD Bluray + WEB
                score: 10000

          - trash_ids:
              - b337d6812e06c200ec9a2d3cfa9d20a7 # DV Boost
              - caa37d0df9c348912df1fb1d88f9273a # HDR10+ Boost
            assign_scores_to:
              - name: UHD Bluray + WEB
                score: 5000

          - trash_ids:
              - 496f355514737f7d83bf7aa4d24f8169 # TrueHD ATMOS
              - 2f22d89048b01681dde8afe203bf2e95 # DTS X
              - 3cafb66171b47f226146a0770576870f # TrueHD
              - dcf3ec6938fa32445f590a4da84256cd # DTS-HD MA
            assign_scores_to:
              - name: UHD Bluray + WEB
                score: 2000

          - trash_ids:
              - 9c38ebb7384dada637be8899efa68e6f # SDR
            assign_scores_to:
              - name: UHD Bluray + WEB
                score: -10000

          - trash_ids:
              - 923b6abef9b17f937fab56cfcf89e1f1 # DV (w/o HDR fallback)
            assign_scores_to:
              - name: UHD Bluray + WEB
                score: -10000

        quality_profiles:
          - trash_id: 64fb5f9858489bdac2af690e27c8f42f # UHD Bluray + WEB
            upgrade:
              allowed: true
              until_quality: Remux-2160p
              until_score: 100000
            qualities:
              - name: Remux-2160p
              - name: WEB 2160p
                qualities:
                  - WEBDL-2160p
                  - WEBRip-2160p
              - name: Remux-1080p
              - name: Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: Bluray-720p
              - name: WEB 720p
                qualities:
                  - WEBDL-720p
                  - WEBRip-720p
            reset_unmatched_scores:
              enabled: true

      radarr_ru:
        base_url: http://radarr-ru.media.svc.cluster.local:7878
        api_key: !env_var RADARR_RU_API_KEY
        delete_old_custom_formats: true

        media_naming:
          folder: default
          movie:
            rename: true
            standard: standard

        quality_definition:
          type: movie

        custom_formats:
          - trash_ids:
              - 923b6abef9b17f937fab56cfcf89e1f1 # DV (w/o HDR fallback)
            assign_scores_to:
              - name: HD Bluray + WEB
                score: -10000

        quality_profiles:
          - trash_id: d1d67249d3890e49bc12e275d989a7e9 # HD Bluray + WEB
            reset_unmatched_scores:
              enabled: true

    sonarr:
      sonarr_main:
        base_url: http://sonarr.media.svc.cluster.local:8989
        api_key: !env_var SONARR_API_KEY
        delete_old_custom_formats: true

        media_naming:
          series: default
          season: default
          episodes:
            rename: true
            standard: default
            daily: default
            anime: default

        quality_definition:
          type: series

        custom_formats:
          - trash_ids:
              - 949c16fe0a8147f50ba82cc2df9411c9 # Anime BD Tier 01
              - e0014372773c8f0e1bef8824f00c7dc4 # Anime Web Tier 01
            assign_scores_to:
              - name: Remux-1080p - Anime
                score: 10000

          - trash_ids:
              - 3a4127d8aa781b44120d907f2cd62627 # Hybrid
              - b735f09d3c025cbb7d75a5d38325b73b # Remaster
            assign_scores_to:
              - name: WEB-2160p
                score: 5000
              - name: Remux-1080p - Anime
                score: 5000

          - trash_ids:
              - 0d7824bb924701997f874e7ff7d4844a # TrueHD ATMOS
              - 9d00418ba386a083fbf4d58235fc37ef # DTS X
              - 851bd64e04c9374c51102be3dd9ae4cc # FLAC
            assign_scores_to:
              - name: WEB-2160p
                score: 2000
              - name: Remux-1080p - Anime
                score: 2000

          - trash_ids:
              - 9b27ab6498ec0f31a3353992e19434ca # DV (w/o HDR fallback)
            assign_scores_to:
              - name: WEB-2160p
                score: -10000
              - name: Remux-1080p - Anime
                score: -10000

        quality_profiles:
          - trash_id: dfa5eaae7894077ad6449169b6eb03e0 # WEB-2160p (Alternative)
            name: WEB-2160p
            upgrade:
              allowed: true
              until_quality: Bluray-2160p Remux
            qualities:
              - name: Bluray-2160p Remux
              - name: WEB 2160p
                qualities:
                  - WEBDL-2160p
                  - WEBRip-2160p
              - name: Bluray-1080p Remux
              - name: Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: HDTV-1080p
              - name: Bluray-720p
              - name: WEB 720p
                qualities:
                  - WEBDL-720p
                  - WEBRip-720p
              - name: HDTV-720p
            reset_unmatched_scores:
              enabled: true

          - trash_id: 20e0fc959f1f1704bed501f23bdae76f # [Anime] Remux-1080p
            name: Remux-1080p - Anime
            upgrade:
              allowed: true
              until_quality: Bluray-2160p Remux
            qualities:
              - name: Bluray-2160p Remux
              - name: WEB 2160p
                qualities:
                  - WEBDL-2160p
                  - WEBRip-2160p
              - name: Bluray-1080p
                qualities:
                  - Bluray-1080p Remux
                  - Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
                  - HDTV-1080p
              - name: Bluray-720p
              - name: WEB 720p
                qualities:
                  - WEBDL-720p
                  - WEBRip-720p
                  - HDTV-720p
            reset_unmatched_scores:
              enabled: true

      sonarr_ru:
        base_url: http://sonarr-ru.media.svc.cluster.local:8989
        api_key: !env_var SONARR_RU_API_KEY
        delete_old_custom_formats: true

        media_naming:
          series: default
          season: default
          episodes:
            rename: true
            standard: default
            daily: default
            anime: default

        quality_definition:
          type: series

        custom_formats:
          - trash_ids:
              - 9b27ab6498ec0f31a3353992e19434ca # DV (w/o HDR fallback)
            assign_scores_to:
              - name: WEB-1080p
                score: -10000

        quality_profiles:
          - trash_id: 72dae194fc92bf828f32cde7744e51a1 # WEB-1080p
            reset_unmatched_scores:
              enabled: true
