postgresql:
  enabled: false
redis:
  enabled: false
authentik:
  log_level: info
  postgresql:
    host: "postgres-postgresql.databases.svc.cluster.local"
    name: "authentik"
    user: "authentik"
    port: 5432
  redis:
    host: "redis-redis.databases.svc.cluster.local"
    port: 6379
server:
  env:
    - name: AUTHENTIK_COOKIE_DOMAIN
      value: "starktastic.net"
    - name: AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS
      value: "127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
    - name: AUTHENTIK_EMAIL__HOST
      value: "smtp.eu.mailgun.org"
    - name: AUTHENTIK_EMAIL__PORT
      value: "587"
    - name: AUTHENTIK_EMAIL__USERNAME
      value: "postmaster@benplus.vip"
    - name: AUTHENTIK_EMAIL__FROM
      value: "Ben Plus <noreply@benplus.vip>"
    - name: AUTHENTIK_EMAIL__USE_TLS
      value: "true"
    - name: AUTHENTIK_EMAIL__TIMEOUT
      value: "10"
    - name: AUTHENTIK_EMAIL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: smtp-authentik-secret
          key: password
    - name: AUTHENTIK_RATELIMIT__GLOBAL__PER_IP
      value: "1000/s"
    - name: AUTHENTIK_RATELIMIT__ERROR__PER_IP
      value: "50/s"
    - name: AUTHENTIK_AUTHENTICATION__RATE_LIMIT__LOGIN__LIMIT
      value: "10/m"
  envFrom:
    - secretRef:
        name: authentik-secret
worker:
  env:
    - name: AUTHENTIK_EMAIL__HOST
      value: "smtp.eu.mailgun.org"
    - name: AUTHENTIK_EMAIL__PORT
      value: "587"
    - name: AUTHENTIK_EMAIL__USERNAME
      value: "postmaster@benplus.vip"
    - name: AUTHENTIK_EMAIL__FROM
      value: "Ben Plus <noreply@benplus.vip>"
    - name: AUTHENTIK_EMAIL__USE_TLS
      value: "true"
    - name: AUTHENTIK_EMAIL__TIMEOUT
      value: "10"
    - name: AUTHENTIK_EMAIL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: smtp-authentik-secret
          key: password
  envFrom:
    - secretRef:
        name: authentik-secret
