controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/stuffanthings/qbit_manage
          tag: latest
          digest: sha256:4f36632a138b4e5aeab3b765b7f389087bfb140c80dbbec1343eca74dc351245
        env:
          QBT_SCHEDULE: "30"
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false

service:
  main:
    enabled: false

persistence:
  config:
    enabled: false
  config-dir:
    type: emptyDir
    globalMounts:
      - path: /config
  qbit-config:
    type: configMap
    name: qbit-manage-config
    globalMounts:
      - path: /config/config.yml
        subPath: config.yml
        readOnly: true
  media:
    existingClaim: media-library-pvc
    globalMounts:
      - path: /data
