controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/radarr
          tag: latest
          digest: sha256:f08dda38e7d12e5a722d9a5cb6e54acaf63c8598fefeefec88effe0c0d0038dd
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /ping
            port: 7878
          readiness:
            enabled: true
            type: HTTP
            path: /ping
            port: 7878
          startup:
            enabled: true
            type: HTTP
            path: /ping
            port: 7878

service:
  main:
    controller: main
    ports:
      http:
        port: 7878

persistence:
  media:
    existingClaim: media-library-pvc
    globalMounts:
      - path: /data
