controllers:
  main:
    initContainers:
      generate-config:
        image:
          repository: alpine/curl
          tag: latest
        command:
          - sh
          - /scripts/generate-config.sh
        envFrom:
          - secretRef:
              name: cross-seed-secret
    containers:
      main:
        image:
          repository: ghcr.io/cross-seed/cross-seed
          tag: "6.13.6"
          digest: sha256:e2bf5b593e4e7d699e6242423ad7966190cd52ba8eefafdfdbb0cb5b0b609b96
        args:
          - "daemon"
        probes:
          liveness:
            path: /api/ping
            port: 2468
          readiness:
            path: /api/ping
            port: 2468
          startup:
            path: /api/ping
            port: 2468
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  main:
    ports:
      http:
        port: 2468

persistence:
  scripts:
    type: configMap
    name: cross-seed-scripts
    defaultMode: 0755
    advancedMounts:
      main:
        generate-config:
          - path: /scripts
  media:
    enabled: true
