controllers:
  main:
    initContainers:
      generate-config:
        image:
          repository: alpine/curl
          tag: latest
        command:
          - sh
          - /scripts/generate-config.sh
        envFrom:
          - secretRef:
              name: cross-seed-secret
    containers:
      main:
        image:
          repository: ghcr.io/cross-seed/cross-seed
          tag: latest
        args:
          - "daemon"
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false

service:
  main:
    controller: main
    ports:
      http:
        port: 2468

persistence:
  config:
    enabled: false
  config-dir:
    type: emptyDir
    globalMounts:
      - path: /config
  scripts:
    type: configMap
    name: cross-seed-scripts
    defaultMode: 0755
    advancedMounts:
      main:
        generate-config:
          - path: /scripts
  media:
    enabled: true
