controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/prowlarr
          tag: latest
          digest: sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /ping
            port: 9696
            spec:
              timeoutSeconds: 5
              failureThreshold: 5
          readiness:
            enabled: true
            type: HTTP
            path: /ping
            port: 9696
          startup:
            enabled: true
            type: HTTP
            path: /ping
            port: 9696
            spec:
              failureThreshold: 30
              periodSeconds: 5
service:
  main:
    controller: main
    ports:
      http:
        port: 9696
