controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/prowlarr
          tag: latest
          digest: sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
service:
  main:
    controller: main
    ports:
      http:
        port: 9696

ingressPreset:
  enabled: true
  type: internal
  host: prowlarr.internal.starktastic.net
  service:
    name: prowlarr
    port: 9696
  auth: true
