controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/jellyfin
          tag: latest
          digest: sha256:7b29a93a6020f8d5f6c60df381a5ab7d57aa83cda4beb3631bd2bfbbcb1497af
        env:
          DOCKER_MODS: "linuxserver/mods:jellyfin-opencl-intel"
          JELLYFIN_PublishedServerUrl: "https://benplus.app"
        resources:
          limits:
            gpu.intel.com/i915: "1"
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /health
            port: 8096
          readiness:
            enabled: true
            type: HTTP
            path: /health
            port: 8096
          startup:
            enabled: true
            type: HTTP
            path: /health
            port: 8096
            spec:
              initialDelaySeconds: 30
              failureThreshold: 60
              periodSeconds: 10

service:
  main:
    controller: main
    ports:
      http:
        port: 8096
  discovery:
    controller: main
    type: ClusterIP
    ports:
      discovery:
        port: 7359
        protocol: UDP

persistence:
  config:
    existingClaim: jellyfin-config
    storageClass: null
    size: null
    accessMode: null
  media:
    existingClaim: media-library-pvc
    globalMounts:
      - path: /data
  transcode:
    type: emptyDir
    sizeLimit: 20Gi
    globalMounts:
      - path: /config/cache/transcodes
