controllers:
  main:
    containers:
      main:
        image:
          repository: eclipse-mosquitto
          tag: 2.0.22
          digest: sha256:6852da90a65dfff7aa3a1c8b249e92bb83c17ea8bbcce56bedff8707332a1a29
        probes:
          liveness:
            enabled: true
            type: TCP
            port: 1883
          readiness:
            enabled: true
            type: TCP
            port: 1883
          startup:
            enabled: true
            type: TCP
            port: 1883
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  main:
    controller: main
    ports:
      mqtt:
        port: 1883

persistence:
  config:
    existingClaim: mosquitto-config
  mosquitto-conf:
    type: configMap
    name: mosquitto-config
    globalMounts:
      - path: /mosquitto/config/mosquitto.conf
        subPath: mosquitto.conf
  media:
    enabled: false
