controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/flaresolverr/flaresolverr
          tag: v3.4.6
          digest: sha256:7962759d99d7e125e108e0f5e7f3cdbcd36161776d058d1d9b7153b92ef1af9e
        probes:
          liveness:
            type: TCP
            port: 8191
          readiness:
            type: TCP
            port: 8191
          startup:
            type: TCP
            port: 8191
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  main:
    ports:
      http:
        port: 8191

persistence:
  config:
    enabled: false
