controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/recyclarr/recyclarr
          tag: 8.2.0
          digest: sha256:30e13877e8ef2242b053b986e69e64801797b39ae4f74b744d8f4dc3f98757ab
        env:
          CRON_SCHEDULE: "@daily"
          RECYCLARR_CREATE_CONFIG: "false"
        envFrom:
          - secretRef:
              name: recyclarr-secret
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false

service:
  main:
    enabled: false

persistence:
  config:
    enabled: false
  config-dir:
    type: emptyDir
    globalMounts:
      - path: /config
  recyclarr-config:
    type: configMap
    name: recyclarr-config
    globalMounts:
      - path: /config/recyclarr.yml
        subPath: recyclarr.yml
        readOnly: true
