controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/recyclarr/recyclarr
          tag: 8.2.1
          digest: sha256:791bdc0d2a35b0f24b89a0b14159591269ef070f19fcccfc5fb518a863141373
        env:
          CRON_SCHEDULE: "@daily"
          RECYCLARR_CREATE_CONFIG: "false"
        envFrom:
          - secretRef:
              name: recyclarr-secret
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false

service:
  main:
    enabled: false

persistence:
  config:
    enabled: false
  config-dir:
    type: emptyDir
    globalMounts:
      - path: /config
  recyclarr-config:
    type: configMap
    name: recyclarr-config
    globalMounts:
      - path: /config/recyclarr.yml
        subPath: recyclarr.yml
        readOnly: true
