controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/qbittorrent
          tag: 5.1.4
          digest: sha256:065792d2b11f0facff340210fc1cf13623b029a94ecdf08b02d06d922205f618
        env:
          WEBUI_PORT: "8080"
          DOCKER_MODS: "ghcr.io/gabe565/linuxserver-mod-vuetorrent"
        probes:
          liveness:
            type: TCP
            port: 8080
          readiness:
            type: TCP
            port: 8080
          startup:
            type: TCP
            port: 8080
            spec:
              failureThreshold: 30
              periodSeconds: 5
service:
  main:
    ports:
      http:
        port: 8080
  bittorrent:
    controller: main
    type: LoadBalancer
    annotations:
      kube-vip.io/loadbalancerIPs: "{{ .Values.global.network.loadBalancers.qbittorrent }}"
    ports:
      bittorrent-tcp:
        enabled: true
        port: 6881
        protocol: TCP
      bittorrent-udp:
        enabled: true
        port: 6881
        protocol: UDP
persistence:
  media:
    enabled: true
