controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/qbittorrent
          tag: 5.1.4
          digest: sha256:85eb27d2d09cd4cb748036a4c7f261321da516b6f88229176cf05a92ccd26815
        env:
          WEBUI_PORT: "8080"
          DOCKER_MODS: "ghcr.io/gabe565/linuxserver-mod-vuetorrent"
        probes:
          liveness:
            enabled: true
            type: TCP
            port: 8080
          readiness:
            enabled: true
            type: TCP
            port: 8080
          startup:
            enabled: true
            type: TCP
            port: 8080
            spec:
              failureThreshold: 30
              periodSeconds: 5
service:
  main:
    controller: main
    ports:
      http:
        port: 8080
  bittorrent:
    controller: main
    type: LoadBalancer
    annotations:
      kube-vip.io/loadbalancerIPs: "{{ .Values.global.network.loadBalancers.qbittorrentRu }}"
    ports:
      bittorrent-tcp:
        enabled: true
        port: 6882
        protocol: TCP
      bittorrent-udp:
        enabled: true
        port: 6882
        protocol: UDP
persistence:
  media:
    enabled: true
    existingClaim: media-library-pvc
    globalMounts:
      - path: /data
