apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: internal-ip-allowlist
  namespace: authentik
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  ipAllowList:
    sourceRange:
      - {{ .Values.global.network.vlans.mgmt | quote }} # MGMT VLAN
      - {{ .Values.global.network.vlans.wireguard | quote }} # WireGuard
      - "10.42.0.0/16" # Internal Service Communication
      - "127.0.0.1/32" # Localhost
