{% extends 'email/base.html' %}

{% load authentik_stages_email %}

{% block content %}
<tr>
  <td align="center" style="padding: 10px 0 5px 0;">
    <h2 style="font-size: 20px; color: #F8FAFC; margin: 0;">You're Invited</h2>
  </td>
</tr>
<tr>
  <td align="center">
    <table border="0">
      <tr>
        <td align="center" style="max-width: 300px; padding: 15px 0; color: #CBD5E1;">
          You've been invited to join Starktastic Services, which includes access to Ben+ and more.
          To get started, please confirm your email address by clicking the button below.
        </td>
      </tr>
      <tr>
        <td align="center" class="btn btn-primary">
          <a id="confirm" href="{{ url }}" rel="noopener noreferrer" target="_blank">Confirm Email</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endblock %}

{% block sub_content %}
<tr>
  <td style="padding: 20px; font-size: 12px; color: #94A3B8; word-break: break-all; overflow-wrap: break-word;" align="center">
    If the button doesn't work, copy this link into your browser: {{ url }}
  </td>
</tr>
{% endblock %}
