controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/seerr-team/seerr
          tag: v3.0.1
          digest: sha256:1b5fc1ea825631d9d165364472663b817a4c58ef6aa1013f58d82c1570d7c866
        env:
          LOG_LEVEL: "info"
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
        probes:
          liveness:
            path: /api/v1/status
            port: 5055
          readiness:
            path: /api/v1/status
            port: 5055
          startup:
            path: /api/v1/status
            port: 5055

service:
  main:
    ports:
      http:
        port: 5055

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: "nfs-pv"
    size: 1Gi
    accessMode: ReadWriteMany
    globalMounts:
      - path: /app/config
