controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/seerr-team/seerr
          tag: v3.1.0
          digest: sha256:b35ba0461c4a1033d117ac1e5968fd4cbe777899e4cbfbdeaf3d10a42a0eb7e9
        env:
          LOG_LEVEL: "info"
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /api/v1/status
            port: 5055
          readiness:
            enabled: true
            type: HTTP
            path: /api/v1/status
            port: 5055
          startup:
            enabled: true
            type: HTTP
            path: /api/v1/status
            port: 5055

service:
  main:
    controller: main
    ports:
      http:
        port: 5055

persistence:
  config:
    # storageClass, type, accessMode inherited from common.yaml
    size: 1Gi
    globalMounts:
      - path: /app/config
