controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/prowlarr
          tag: latest
          digest: sha256:e74a1e093dcc223d671d4b7061e2b4946f1989a4d3059654ff4e623b731c9134
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /ping
            port: 9696
          readiness:
            enabled: true
            type: HTTP
            path: /ping
            port: 9696
          startup:
            enabled: true
            type: HTTP
            path: /ping
            port: 9696
service:
  main:
    controller: main
    ports:
      http:
        port: 9696
