controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/jellyfin
          tag: 10.11.6
          digest: sha256:4ee07757abcaa0b74fbc74179392311dc2874c03b0bef04bc2d79e9e1a875793
        env:
          JELLYFIN_PublishedServerUrl: "https://benplus.app"
        resources:
          limits:
            gpu.intel.com/i915: "1"
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /health
            port: 8096
          readiness:
            enabled: true
            type: HTTP
            path: /health
            port: 8096
          startup:
            enabled: true
            type: HTTP
            path: /health
            port: 8096
            spec:
              initialDelaySeconds: 30
              failureThreshold: 60
              periodSeconds: 10

service:
  main:
    controller: main
    ports:
      http:
        port: 8096
  discovery:
    controller: main
    type: ClusterIP
    ports:
      discovery:
        port: 7359
        protocol: UDP

persistence:
  config:
    enabled: false
  jellyfin-config:
    existingClaim: jellyfin-config
    globalMounts:
      - path: /config
  media:
    enabled: true
  transcode:
    type: emptyDir
    sizeLimit: 20Gi
    globalMounts:
      - path: /config/cache/transcodes
