controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/sonarr
          tag: 4.0.16
          digest: sha256:6f73bbba33391a338e20d836a60c86beaf2a865a89b706b339fc8cb0b8ce1559
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /ping
            port: 8989
          readiness:
            enabled: true
            type: HTTP
            path: /ping
            port: 8989
          startup:
            enabled: true
            type: HTTP
            path: /ping
            port: 8989

service:
  main:
    controller: main
    ports:
      http:
        port: 8989

persistence:
  media:
    existingClaim: media-library-pvc
    globalMounts:
      - path: /data
