controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/bazarr
          tag: 1.5.6
          digest: sha256:b0bc617664dbca25845ac3b1bb6411b145b6a44a6d173071c9d2f426524fdd9f
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /ping
            port: 6767
          readiness:
            enabled: true
            type: HTTP
            path: /ping
            port: 6767
          startup:
            enabled: true
            type: HTTP
            path: /ping
            port: 6767

service:
  main:
    controller: main
    ports:
      http:
        port: 6767

persistence:
  media:
    enabled: true
