controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/bazarr
          tag: 1.5.5
          digest: sha256:1cf40186b1bc35bec87f4e4892d5d8c06086da331010be03e3459a86869c5e74
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /ping
            port: 6767
          readiness:
            enabled: true
            type: HTTP
            path: /ping
            port: 6767
          startup:
            enabled: true
            type: HTTP
            path: /ping
            port: 6767

service:
  main:
    controller: main
    ports:
      http:
        port: 6767

persistence:
  media:
    enabled: true
