controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/bazarr
          tag: latest
          digest: sha256:18ff732dffcebd559d15a91845fc3360d49652ea01dccfbfd98b8248ceb86e38
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /ping
            port: 6767
          readiness:
            enabled: true
            type: HTTP
            path: /ping
            port: 6767
          startup:
            enabled: true
            type: HTTP
            path: /ping
            port: 6767

service:
  main:
    controller: main
    ports:
      http:
        port: 6767

persistence:
  media:
    existingClaim: media-library-pvc
    globalMounts:
      - path: /data
