controllers:
  main:
    containers:
      main:
        image:
          repository: cyfershepard/jellystat
          tag: "1.1.8"
          digest: sha256:c8c451704ba7985340142cd047e2364cabaf41b613669b6c5340688ed217f82a
        env:
          POSTGRES_IP: "postgres-postgresql.databases.svc.cluster.local"
          POSTGRES_PORT: "5432"
          POSTGRES_DB: "jellystat"
          POSTGRES_USER: "jellystat"
        envFrom:
          - secretRef:
              name: jellystat-secret
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /
            port: 3000
          readiness:
            enabled: true
            type: HTTP
            path: /
            port: 3000
          startup:
            enabled: true
            type: HTTP
            path: /
            port: 3000
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  main:
    controller: main
    ports:
      http:
        port: 3000

persistence:
  config:
    enabled: false
  jellystat-backup:
    type: persistentVolumeClaim
    storageClass: "nfs-pv"
    size: 2Gi
    accessMode: ReadWriteMany
    globalMounts:
      - path: /app/backend/backup-data
