{{- if .Values.ingress.enabled }}
{{- $domainType := .Values.ingress.domainType | default "internal" }}
{{- $domain := index .Values.global.domains $domainType }}
{{- $isInternal := eq $domainType "internal" }}
{{- $tlsSecret := ternary "benplus-vip-tls" .Values.global.defaultTlsSecret (eq $domainType "media") }}
{{- $host := .Values.ingress.host }}
{{- $fqdn := ternary $domain (printf "%s.%s" $host $domain) (eq $host "") }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Values.name }}{{ if not $isInternal }}-public{{ end }}
  namespace: {{ .Values.namespace }}
spec:
  entryPoints:
    - {{ if $isInternal }}websec-int{{ else }}websecure{{ end }}
  routes:
    - match: Host(`{{ $fqdn }}`)
      kind: Rule
      services:
        - name: {{ .Values.ingress.serviceName | default .Values.name }}
          port: {{ .Values.ingress.port }}
      {{- if or .Values.ingress.rateLimit .Values.ingress.auth }}
      middlewares:
        {{- if .Values.ingress.rateLimit }}
        - name: rate-limit-strong
          namespace: traefik-system
        {{- end }}
        {{- if .Values.ingress.auth }}
        - name: authentik-middleware
          namespace: authentik
        {{- end }}
      {{- end }}
  tls:
    secretName: {{ $tlsSecret }}
{{- end }}
